<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">

	<targets>
		<target xsi:type="File" name="log" fileName="${basedir}/logs/log-${shortdate}.txt"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />				
	</targets>
	
	<rules>
		<logger name="*" minlevel="Debug" writeTo="log" />
	</rules>
</nlog>